<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.varsha.navtry">

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="Insight Health"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Insight Health"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First2"
            android:label="Insight Health"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnterData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RetrieveData"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menVideo"
            android:label="@string/title_activity_men_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".womenVideo"
            android:label="@string/title_activity_women_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchOptions"
            android:label="@string/title_activity_search_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchBarcode"
            android:label="@string/title_activity_search_barcode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchQrCode"
            android:label="@string/title_activity_search_qr_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchOcr"
            android:label="@string/title_activity_search_ocr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchDB"
            android:label="@string/title_activity_search_db"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".BarcodeUPC"
             />


        <service
            android:name=".RingToneService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
